@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arima:wght@100;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Alfa Slab One', cursive;
    --font3:'Arima', cursive;

}
html,body{
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgrey;

}
header{
    background-color: black;
    color: white;
    text-align: center;
}
    
header>h1{font-family: var(--font2);
    font-weight: normal;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
}
header>p{
    font-family: var(--font3);
    font-weight: normal;
    color: white;
    padding-top: 10px;
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration:none;
    font-weight: bolder;

}
a:hover{
    text-decoration:underline;
}
section{
    font-family: var(--font3);
    font-size: 3.5vw;
    font-weight: bold;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
}
section.normal{
    background-color: white;
    color:black ;
    
}
section.img{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.63);
    background-color: rgba(169, 169, 169, 0.493);
    color: white;
    background-attachment: fixed;

} 
section#img1{
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
    
}
section#img2{
    background-image: url("../imagens/sutterlin-1362879_960_720.webp");
    background-position:center center;
    background-size: cover;
}
section.img>p{
    background-color: rgba(0, 0, 0, 0.555);
    text-shadow: 2px 1px rgba(0, 0, 0, 0.822);
    display: inline-block;
    padding: 5px;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}